{% extends 'base.html' %}

{% block content %}

<div class="container">
    <!-- ========================= SECTION MAIN  ========================= -->
    <section class="section-main padding-y">
        <main class="card">
            <div class="card-body">

                <div class="row">
                    <aside class="col-lg col-md-3 flex-lg-grow-0">
                        <nav class="nav-home-aside">
                            <h6 class="title-category">All Category <i class="d-md-none icon fa fa-chevron-down"></i>
                            </h6>
                            <ul class="menu-category">
                                {% for category in categories|slice:":8" %}
                                <li><a href="{% url 'category' category.slug %}">{{ category.title }}</a></li>
                                {% endfor %}
                                {% if categories.count > 8 %}
                                <li class="has-submenu"><a href="#">More Categories</a>
                                    <ul class="submenu">
                                        {% for category in categories|slice:"8:" %}
                                        <li><a href="#">{{ category.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </aside> <!-- col.// -->
                    <div class="col-md-9 col-xl-7 col-lg-7">

                        <!-- ================== COMPONENT SLIDER  BOOTSTRAP  ==================  -->
                        <div id="carousel1_indicator" class="slider-home-banner carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel1_indicator" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel1_indicator" data-slide-to="1"></li>
                                <li data-target="#carousel1_indicator" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                {% for banner in banners %}
                                <div class="carousel-item {% if forloop.counter == banner_index %} active {% endif %}">
                                    <img src="{{ banner.image.url }}" alt="First slide">
                                </div>
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#carousel1_indicator" role="button"
                               data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel1_indicator" role="button"
                               data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <!-- ==================  COMPONENT SLIDER BOOTSTRAP end.// ==================  .// -->

                    </div> <!-- col.// -->
                    <div class="col-md d-none d-lg-block flex-grow-1">
                        <aside class="special-home-right">
                            <h6 class="bg-blue text-center text-white mb-0 p-2">Ommabop kategoriyalar</h6>

                            <div class="card-banner border-bottom">
                                <div class="py-3" style="width:80%">
                                    <h6 class="card-title">Yozgi kiyimlar </h6>
                                    <a href="#" class="btn btn-secondary btn-sm"> Source now </a>
                                </div>
                                <img src="/media/images/d0t9m5q7s4fo7mqbmjj0.jpg" height="80" class="img-bg">
                            </div>

                            <div class="card-banner border-bottom">
                                <div class="py-3" style="width:80%">
                                    <h6 class="card-title">Elektronika </h6>
                                    <a href="#" class="btn btn-secondary btn-sm"> Source now </a>
                                </div>
                                <img src="/media/images/cu9o6alht56ksubfaks0.jpg" height="80" class="img-bg">
                            </div>

                            <div class="card-banner border-bottom">
                                <div class="py-3" style="width:80%">
                                    <h6 class="card-title">Uy jihozlari </h6>
                                    <a href="#" class="btn btn-secondary btn-sm"> Source now </a>
                                </div>
                                <img src="/media/images/do.jpg" height="80" class="img-bg">
                            </div>

                        </aside>
                    </div> <!-- col.// -->
                </div> <!-- row.// -->

            </div> <!-- card-body.// -->
        </main> <!-- card.// -->

    </section>
    <!-- ========================= SECTION MAIN END// ========================= -->


    <!-- =============== SECTION 1 =============== -->
    <section class="padding-bottom">
        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">Elektronika</h4>
        </header>

        <div class="card card-home-category">
            <div class="row no-gutters">
                <div class="col-md-3">

                    <div class="home-category-banner bg-light-orange">
                        <h5 class="title">Best trending clothes only for summer</h5>
                        <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. </p>
                        <img src="/static/images/items/14.jpg" class="img-bg">
                    </div>


                </div> <!-- col.// -->
                <div class="col-md-9">
                    <ul class="row no-gutters bordered-cols">
                        {% for product in products|slice:"7:15" %}
                        <li class="col-6 col-lg-3 col-md-4">
                            <a href="{% url 'product' product.slug %}" class="item">
                                <div class="card-body">
                                    <h6 class="title">{{ product.name }} </h6>
                                    <img class="img-sm float-right" src="{{ product.image_set.first.image.url }}">
                                    <p class="text-muted"><i class="fa fa-map-marker-alt"></i> {{ product.country }}</p>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div> <!-- row.// -->
        </div><!-- card.// -->
    </section>
    <!-- =============== SECTION 1 END =============== -->

    <!-- =============== SECTION 2 =============== -->
    <section class="padding-bottom">
        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">Kiyimlar</h4>
        </header>

        <div class="card card-home-category">
            <div class="row no-gutters">
                <div class="col-md-3">

                    <div class="home-category-banner bg-light-orange">
                        <h5 class="title">Machinery items for manufacturers</h5>
                        <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. </p>
                        <img src="/static/images/items/1.jpg" class="img-bg">
                    </div>

                </div> <!-- col.// -->
                <div class="col-md-9">
                    <ul class="row no-gutters bordered-cols">
                        {% for product in products|slice:"16:24" %}
                        <li class="col-6 col-lg-3 col-md-4">
                            <a href="{% url 'product' product.slug %}" class="item">
                                <div class="card-body">
                                    <h6 class="title">{{ product.name }} </h6>
                                    <img class="img-sm float-right" src="{{ product.image_set.first.image.url }}">
                                    <p class="text-muted"><i class="fa fa-map-marker-alt"></i> {{ product.country }}</p>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->
    </section>
    <!-- =============== SECTION 2 END =============== -->



    <!-- =============== SECTION BANNER =============== -->
     <section class="padding-bottom">
        <div class="row">
            <aside class="col-md-6">
                <div class="card card-banner-lg bg-dark">
                    <img src="/static/images/banners/ec.jpg" class="card-img opacity">
                    <div class="card-img-overlay text-white">
                        <h2 class="card-title">Buy From Our Website</h2>
                        <p class="card-text" style="max-width: 80%">This is a wider card with text below and Lorem ipsum
                            dolor sit amet, consectetur adipisicing elit. Illo ab quae nihil praesentium impedit libero
                            possimus id vero</p>
                    </div>
                </div>
            </aside>
            <div class="col-md-6">
                <div class="card card-banner-lg bg-dark">
                    <img src="/static/images/banners/ban.jpg" class="card-img opacity">
                    <div class="card-img-overlay text-white">
                        <h2 class="card-title">Drink Pure & Healthy Water</h2>
                        <p class="card-text" style="max-width: 80%">Card with text below and Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Illo ab quae nihil praesentium impedit libero possimus id
                            vero</p>
                    </div>
                </div>
            </div> <!-- col.// -->
        </div> <!-- row.// -->
    </section>
    <!-- =============== SECTION BANNER .//END =============== -->



    <!-- =============== SECTION ITEMS =============== -->
    <section class="padding-bottom-sm">

        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">Recommended items</h4>
        </header>

        <div class="row row-sm">
            {% for product in products|slice:"8:27" %}
            <div class="col-xl-2 col-lg-3 col-md-4 col-6 mb-3">
                <div class="card card-sm card-product-grid">
                    <a href="{% url 'product' product.slug %}" class="img-wrap">
                        <img src="{{ product.image_set.first.image.url }}" alt="{{ product.name }}">
                    </a>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">{{ product.name }}</a>
                        <div class="price mt-1">$ {{ product.price }}</div>
                    </figcaption>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- =============== SECTION ITEMS .//END =============== -->


    <!-- =============== SECTION SERVICES =============== -->
    <section class="padding-bottom">

        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">Trade services</h4>
        </header>

        <div class="row">
            {% for product in products|slice:"4:12" %}
            <div class="col-md-3 col-sm-6 mb-4">
                <article class="card card-post h-100">
                    <img src="{{ product.image_set.first.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <a href="{% url 'product' product.slug %}" class="img-wrap">
                            <h6 class="title">{{ product.name }}</h6>
                        </a>
                        <p class="small text-uppercase text-muted">{{ product.brand }}</p>
                    </div>
                </article>
            </div>
            {% endfor %}
        </div>


    </section>
    <!-- =============== SECTION SERVICES .//END =============== -->


</div>
<!-- container end.// -->

{% endblock %}